/* *******************************Fonts*********************************** */
.color-blank {
    color: antiquewhite
}

.merienda {
    font-family: 'Merienda One', cursive;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.center-text {
    text-align: center;
}

.cursor {
    cursor: pointer;
}

textarea {
    font-size: 1rem;
}

/* ****************************Header******************************* */

.navbar {
    background-color: rgba(79, 111, 163, 0.8);
    position: fixed;
    width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
}


.logoSimelius {
    width: 30px;
    margin-top: -6%
}

.simeliusName {
    font-size: 2rem;
    color: antiquewhite;
}

.user {
    display: inline;
}

.profile-picture {
    width: 40px;
    display: inline;
}

.username {
    font-size: 1.1em;
    display: inline;
    right: 5%;
}

ul {
    list-style: none;
}

.searchBar {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 20%;
    border-radius: 10px;
    background: whitesmoke;
    position: relative;
}

.dropdown-toggle {
    background: whitesmoke;
}

/* ***********************************body******************************** */

body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/Background5.jpg");
}

.page-title {
    text-align: center;
    color: rgba(79, 111, 163, 0.8);
    font-size: 1.5rem;
    margin-top: 12%;
    margin-bottom: -4%
}

h2 {
    color: rgba(79, 111, 163, 0.8);
    font-size: 4rem;
    margin-bottom: 8%;
    margin-top: 7%
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 5rem;
    font-size: 28px;
    padding: 0px 10px; }

.blue, .blue:hover, .blue:active, .blue:visited {
    color: rgb(45, 46, 146);
}

.addPost {
    margin-bottom: 5%;
}

/* *******************************Sidenav****************************** */
.sidenav {
    background-color: rgba(79, 111, 163, 0.8);
    border-radius: 10px;
    overflow-x: hidden;
    padding-top: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-transition: background-color 1s;
    z-index: 999999;
}

.sidenav:hover {
    background-color: rgba(79, 111, 163, 0.5);
    -webkit-transition: background-color 1s;
}

.sidenavleft {
    width: 15%;
    position: fixed;
    left: 1.5%;
    top: 14%;
    bottom: 3%;
}

.sidenavright {
    width: 15%;
    position: fixed;
    right: 1.5%;
    top: 14%;
    bottom: 3%;
}

.sideBarContent:hover {
    font-size: 1.2rem;
    transition-property: font-size;
    transition-duration: 0.6s;
}

.categoryFilter:hover {
    cursor: pointer;
}


/* ********************************Post****************************** */
.write {
    margin-left: 24%;
    margin-right: 26%;
    padding-left: 1%;
    padding-right: 1%;
    width: 50%;
    margin-bottom: 1.5%;
    border-radius: 15px;
    background: floralwhite;
}

.postButton {
    font-size: 1rem;
    padding: 7px 25px;
    width:20%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: rgba(79, 111, 163, 0.8);
    border-radius: 20px;
    border: solid;
    border-color: antiquewhite;
    border-width: 0.1rem;
    -webkit-transition: background-color 0.5s;
    color:antiquewhite;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;

}

a:link
{
    text-decoration:none;
    color: antiquewhite;
}

.postButton:hover {
    cursor: pointer;
    background-color: rgb(144, 173, 221);
    -webkit-transition: background-color 1s
}

.postTitle {
    line-height: 200%;
    width: 80%;
    margin-bottom: 5%;
    background: floralwhite;
}

.addCategories {
    text-align: center;
}

.smart-popin {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.smart-popin:target {
    opacity: 1;
    visibility: visible;
}

.smart-popin .sp-close {
    position: relative;
    top: 0;
    right: 0;
    float: right;

    width: 36px;
    height: 36px;

    text-align: center;
    line-height: 36px;
    font-size: 1.6em;
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}

.smart-popin .sp-body {
    background-color: rgba(234, 243, 249, 1);
    border-radius: 15px;
    z-index: 1;
    padding: 2em;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    width: 40%;
    margin: 0 auto;
    min-width: 300px;
    font-size: 1rem;
}

.table-popin {
    display:table;
    width: 100%;
}

.center-popin {
    display:table-cell;
    vertical-align: middle;
    width: 100%;
}

.smart-popin .sp-table {
    display: table;
    height: 100%;
    width: 100%;
}
.smart-popin .sp-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.validButton {
    font-size: 1rem;
    padding: 7px 25px;
    width: 30%;
    margin-left: 35%;
    background: rgba(79, 111, 163, 0.8);
    margin-top:5%;
    border-radius: 10px;
    -webkit-transition: background-color 0.5s
}

.validButton:hover {
    cursor: pointer;
    background-color: rgb(144, 173, 221);
    -webkit-transition: background-color 1s
}

.center-choises {
    display: flex;
    justify-content: space-around;
    flex-direction: column
}

.post {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(234, 243, 249, 0.767);
    padding-top: 0.1rem;
    border: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.date {
    font-size: 0.8rem;
    margin-top: 2%
}

.post > h3 {
    font-size: 1.1rem;
    display: inline;
}

.post > .categoryPost {
    font-size: 1rem;
    display: inline
}

.categoryBadge {
    font-size: 0.7rem;
    font-weight: bold;
    background: rgba(79, 111, 163, 0.8);
    color: white;
    border-radius : 20px;
    border : none;
    padding: 0.2% 1.5%;
}

.profile-picture-poster{
    width: 5%;
}

.poster {
    font-size: 1rem;
    margin-top: 0.8%
}

.content {
    font-size: 1rem;
    margin-top: 0.8%;
    border-bottom: black;
}

.post > .answers {
    font-size: 0.85rem;
    margin-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.showAnswers {
    color: rgb(79, 111, 163)
}

.showAnswers:hover {
    cursor: pointer;
}

.react {
    margin-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 0.9rem;
}

.show {
    float: right
}

.answer {
    display: inline-block
}

. {
    margin-top: 5%
}

.writeAnswer {
    padding-left: 1%;
    padding-right: 1%;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2.5%;
    border-radius: 15px;
    background: floralwhite;
    margin-left: auto;
    margin-right: auto;
    height: 2.3rem;
    min-height: 2.3rem;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 48px;
}

.validComment {
    font-size: 1rem;
    padding: 7px 25px;
    width: 30%;
    margin-left: 35%;
    background: rgba(172, 117, 184,1);
    border-radius: 10px;
    margin-bottom: 2%;
    -webkit-transition: background-color 0.5s;
}

.validComment:hover {
    cursor: pointer;
    background-color: rgb(126, 90, 134);
    -webkit-transition: background-color 1s
}

.comments {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding: 1.5% 4%;
    font-size: 1rem;
    border-radius : 40px;
    background: floralwhite;
    box-shadow: 0px 0px 5px rgb(143, 198, 219);
    transition: 1s;
}

.showComments {
    display: none;
}

.comments {
    transition: all .5s ease-in-out;
}
.comments:hover { transform: scale(1.03);}

.commentcontent {
    font-size: 0.9rem;
    margin-bottom:2% ;
}

.commentposter {
    font-size: 0.9rem;
    margin-bottom:2% ;
}

.pertinence {
    font-size: 0.9rem;
}

.relevance {
    font-size: 0.7rem;
    font-weight: bold;
    background: rgba(79, 111, 163, 0.8);
    color: white;
    border-radius : 20px;
    border : none;
    display: inline;
}

.noteComment {
    display: inline-block;
}

.note{
    color: rgb(79, 111, 163)
}

.relevance:hover {
    cursor: pointer;
}

.pertinence {
    margin-top: 0.8%;
    margin-bottom: 0.8%
}

.like{
    margin-bottom: 0.8%
}

.test + .tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}

.test + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}

a:hover {
    text-decoration: none;
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    left: 450%;
    top : -31%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}